--extra-index-url https://d33sy5i8bnduwe.cloudfront.net/simple/
fastapi==0.115.12
uvicorn==0.34.3
motor==3.7.0
pydantic==2.11.4
python-dotenv==1.1.0
httpx==0.28.1
cloudinary==1.44.1
python-multipart==0.0.20
emergentintegrations==0.1.0
google-auth==2.40.3
PyJWT==2.10.1
cryptography==45.0.3
reportlab==4.4.0
